body{
    margin: 0; 
    padding: 0; 
    background-color: #6D9AC4;

    
}
.primaryButton{
    background-color: #EE5684;
    color: #fff;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    border-color: #EE5684;
}

/* Header Style */

.headerStyle{
    color: #fff;
    padding: 10px;
}
#logout{
    text-align:end
}
#header.container-fluid{
    background-color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  

.circularContainer{
    background: #EE5684;
    width: 40px;
    height: 40px;
    border-radius: 50%;    
}

/* End Header Style */


/* Cover Style */
.coverContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}
.coverContainerDashboard{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;

}
#newCover{
    background-color: #7a7a7a;
    font-size: 70px;
    text-align: center;
    cursor: pointer;
}
.coverStyle{
    background:#333;
    color:white;
    width:25vw;
    border: 2px solid #fff;
    border-radius: 10px;
    padding:10px;
    margin-bottom:10px
}
.coverStyle1{
    background:#333;
    color:white;
    border: 2px solid #fff;
    border-radius: 10px;
    padding:10px;
    margin-bottom:10px
}
/* End Cover Style */


/* Form Style */
.signupContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.taskFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}
.signupStyle{
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
}
.primaryButton{
    background-color: #EE5684;
    color: #fff;
    margin: 10px 0 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #EE5684;
}
.anchorStyle{
    border:none;
    background: none;
    text-decoration: underline;
}

input, textarea, select{
    border-radius: 10px;
    border: 2px solid #6D9AC4;
}


input.input-error, select.input-error, textarea.input-error{
    border-color: #fc8181;
}
.error{
    margin-bottom: -25px;
    font-size: 80%;
    color:#fc8181;
}
/* End Form Style */


/* Sidebar Style */


.sideBarContainer{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100%;
    position: relative;
    left: 0; 
    transition: width 0.4s ease-in-out; 
    width: 100%;
    border: 2px solid #fff;
    background-color: #333;
    border-radius: 10px;
}
.selectedButton {
    border:2px solid white !important;
    
  }
.sideBarContainer.active {
    width: 100%;
    transition: width 0.4s ease-in-out; 
    border-radius: 10px;
    height: 100%;
  }

#mainBar{
    transition: width 0.4s ease-in-out; 
}
.button6active{
    margin-top: auto !important;
}
.button6 {
    margin-top: auto !important;
}
    
#primaryButton{
    background-color: #EE5684;
    color: #fff;
    border: 2px solid #EE5684;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
    
}



.col-lg-1#mainBar, .col-lg-2#mainBar, .col-lg-10#mainBar, .col-lg-11#mainBar{
    padding-top: 10px;
}
#taskFormContainer.col-lg-10 {
    padding-top: 10px;
}
.createTaskContainer{
    padding: 10px;
}



.icon{
    font-size: 20px;
}

.imgContainer{
    text-align: right;
}
.imgContainer img{
    border-radius: 10px;
}
/* End Sidebar style */


/* Task Form style */

input#Title, textarea#Description, select#Priority, input#TaskDate{
    width:100%;
}


/* End Task Bar style */



.completedtaskContainer{
    min-height:50%
}